<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app01.dao.extend.ClazzVMMapper">
<!-- 查询所有学生信息 -->
 <select id="findAllClazzVM"  resultMap="ClazzVMResultMap">
  	select * from poll.poll_clazz
  </select>
   <select id="findByIdVM"  resultMap="ClazzVMResultMap">
  	select * from poll.poll_clazz where id=#{id}
  </select>
  <resultMap type="com.briup.app01.VM.ClazzVM" id="ClazzVMResultMap">
	<id column="id" property="id"/>
  	<result column="name" property="name"/>
  	<result column="description" property="description"/> 
  	<association column="grade_id" property="grade" select="com.briup.app01.dao.GradeMapper.findById">
  	</association>  
  	<association column="user_id" property="user" select="com.briup.app01.dao.UserMapper.findById">
  	</association>  	
  </resultMap>

</mapper>