<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app01.dao.extend.SurveyVMMapper">
<!-- 查询所有学生信息 -->
 <select id="findAllSurveyVM"  resultMap="SurveyVMResultMap">
  	select * from poll.poll_survey
  </select>
  <select id="findByIdVM"  resultMap="SurveyVMResultMap">
  	select * from poll.poll_survey where id=#{id}
  </select>
 <resultMap type="com.briup.app01.VM.SurveyVM" id="SurveyVMResultMap">
	<id column="id" property="id"/>
  	<result column="state" property="state"/>
  	<result column="average" property="average"/> 
  	<result column="surveydate" property="surveydate"/>
  	<association column="questionnaire_id" property="questionnaire" select="com.briup.app01.dao.QuestionnaireMapper.findById">
  	</association>  
  	<association column="user_id" property="user" select="com.briup.app01.dao.UserMapper.findById">
  	</association>  
  	<association column="clazz_id" property="clazz" select="com.briup.app01.dao.ClazzMapper.findById">
  	</association> 
  	<association column="course_id" property="course" select="com.briup.app01.dao.CourseMapper.findById">
  	</association> 	
  </resultMap>

</mapper>