<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app01.dao.QqMapper">
<!-- 查询所有学生信息 -->
  <select id="findAll" resultType="com.briup.app01.bean.Qq">
    select * from poll.poll_qq 
  </select>
  <select id="findById" parameterType="long" resultType="com.briup.app01.bean.Qq">
    select * from poll.poll_qq  where id=#{id}
  </select>
   <delete id="deleteById" parameterType="long" >
  delete from poll.poll_qq  where id = #{id}
</delete>
 <insert id="insert"  parameterType="com.briup.app01.bean.Qq">
 	insert into poll.poll_qq  values(null,#{question_id},#{questionnaire_id})
 </insert>
 <update id="update" parameterType="com.briup.app01.bean.Qq">
 	update poll.poll_qq 
 	set question_id=#{question_id},questionnaire_id=#{questionnaire_id}
 	where id=#{id}
 </update>
</mapper>