<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app01.dao.QuestionnaireMapper">
<!-- 查询所有学生信息 -->
  <select id="findAll" resultType="com.briup.app01.bean.Questionnaire">
    select * from poll.poll_questionnaire
  </select>
  <select id="findById" parameterType="long" resultType="com.briup.app01.bean.Questionnaire">
    select * from poll.poll_questionnaire where id=#{id}
  </select>
   <delete id="deleteById" parameterType="long" >
  delete from poll.poll_questionnaire where id = #{id}
</delete>
 <insert id="insert"  parameterType="com.briup.app01.bean.Questionnaire">
 	insert into poll.poll_questionnaire values(null,#{name},#{description},#{createdate})
 </insert>
 <update id="update" parameterType="com.briup.app01.bean.Questionnaire">
 	update poll.poll_questionnaire
 	set name=#{name},description=#{description},createdate=#{createdate}
 	where id=#{id}
 </update>
</mapper>